
body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 400px;
    margin-top: 100px;
    height: 80px;
    width: 500px;
    background-color: rgb(247, 32, 182);
    border-radius: 10px;
    color: black;
    font-size: 32px;
}
#main{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100px;
    margin-left: 600px;
    background-color: blueviolet;
    border-radius: 10px;
    color: gold;
    font-size: 52px;

}



